<h1>Editing <%= @duck.name %></h1>

<%= form_for @duck do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>
<%= f.label :description %><br>
<%= f.text_field :description %><br><br>
<%= f.submit %>
<% end %>